* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}


.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.choice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choice-container img {
    width: 50px;
    margin: 10px;
    margin-bottom: 50px;
}

.computer-contanier {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100%;
    margin-top: 20px; */
}

.computer-contanier img {
    width: 100px;
    margin: 10px;
}

.score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.score-container p {
    margin: 10px;
}

.player-score {
    text-align: center;
}

.computer-score {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer p {
    margin: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
}
